* {
    box-sizing: border-box;
}
body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh

}
/*header*/
  header {
    background-color: #fff;
    padding: 1rem 1rem;
    display:flex;
}
header span {
    color: #7795d1;
    font-size: 1.6rem;
    font-weight: 700;
}
/*navigation*/
/*small screen navigation*/
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    nav a {
        display: block;
        text-align: center;
        padding: .8rem;
        color: #d56daa;
        text-decoration: none;
        border-bottom: solid 1px #eee;
        font-weight: 700;
        text-transform: uppercase;
    }
    nav .active a {
        background-color: #8C501B;
        color: white;
        background-image: linear-gradient(to bottom, #f4a4d3, #d56daa)
    }
} /*end small screen navigation*/
/*large screen navigation*/
@media only screen and (min-width: 601px){
nav {
    background-color: #d56daa;
    padding: 3px 4rem;
    font-family: "PT Sans", sans-serif;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .8rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
}
nav a:hover {
    color: #f2a863;
}
nav li.active a {
    background-color: #f2a863;
    color:white;
}
 } /*end large screen navigation*/
/*main*/
main {
  flex-grow: 1;
  padding: 0 1rem;
}
main h1 {
    font-family: "PT Serif", serif;
    color: #7795d1;
    margin: 1rem 0;
}
main h2 {
    font-family: "PT Serif", serif;
    color: #d56daa;
    margin: 1rem 0;
}
main p {
    margin: 1rem 0;  
    color: #444;
}
main ol {
    padding: .75rem 45px;
    background-color: #fdf2e7;
    margin-left: 20px;
    margin-right: 20px;

}
main dl dt {
    background-color: #ddd;
    color: #f2a863;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 20px;
    margin-right: 20px;
}
main dl dd {
    background-color: #eee;
    color:#7795d1;
    font-size: .9rem;
    margin-left: 20px;
    margin-right: 20px;
}
main ul {
    list-style-type: disc;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main a {
  color:#f2a863;
}
main a:hover {
  color:#d56daa
}
main address {
    font-style: normal;
    background-color: #e0ebff;
    padding: .5rem;
    border-radius: 25px;
    border: 5px double #d56daa;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
}
main p.contact {
    font-style: normal;
    background-color: #e0ebff;
    padding: .5rem;
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
}
.phone {
    color: #d56daa;
}
iframe {
    min-width: 600px;
}

/*main image*/
figure.spread {
    margin: 0 0 0 1rem;
    width: 40%;
    height: auto;
    float: right;
}

figure.spread img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    font-size: .8rem;
    color:#7795d1;
}

/*table stuff here*/
table.utensils {
    width: 100%;
    border-collapse: collapse;
}
table.utensils th {
    background-color: #f2a863;
    color: white;
    padding: .6rem 2%;
    text-align: left;
}
table.utensils td {
    color: #7795d1;
    padding: .4rem 2%;
}
table.utensils tr:nth-child(odd) {
    background-color: #f0f5ff;
}
table.utensils tr:hover {
    background-color: #e0ebff;
}

/*form stuff here*/

.request fieldset {
    border: 1px solid #f2a863;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.request legend {
    color: #7795d1;
    font-size: .8rem;
}

.request label {
    margin: .5rem;
}

.request label, .request select, .request [type=text], .request [type=tel], .request [type=email], .request textarea {
    display: block;
}

.request [type=text], .request [type=tel], .request [type=email], .request select, .request textarea {
    border: 1px solid #888;
    padding: .3rem;
    width: 250px;
    border-radius: 5px;
    font-family: "PT Sans", sans-serif;
    font-weight: 300;
}

.request textarea {
    height: 6rem;
    width: 250px;
}

.request :required {
    background-color: rgb(213, 109, 170, 0.1);
}

.request [type=submit] {
    background-color: #7795d1;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: white;
    margin: 1rem 0 0 1vw;
}


/*images*/
div.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div.gallery figure {
    margin: 0;
    margin-left: 20px;
}
div.gallery img {
    width: 98%;
    height: auto;
    border-radius: 5px;
}
div.gallery img:hover {
    width: 98%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(242, 168, 99, 1);
}
.hero {
    width: 95%;
    height: auto;
}
/*footer*/
footer {
    background-color: #fdf2e7;
    text-align: center;
    padding: 1rem;
    font-size: .8rem;
    color: #444;
    clear: both;
    width: 100%;
}
footer p {
    margin: 0;
    letter-spacing: 3px;
}
header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}