body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh

}
/*header*/
  header {
    background-color: #ddd;
    padding: 1rem 10px;
}
header span {
    color: #7795d1;
    font-size: 1.6rem;
    font-weight: 700;
}
/*navigation*/
nav {
    background-color: #d56daa;
    padding: 3px;
    font-family: "PT Sans", sans-serif;
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    font-weight: 700;
}
nav a:hover {
    color: #f2a863;
}
nav li.active a {
    background-color: #f2a863;
    color:white;
}
/*main*/
main {
  flex-grow: 1;
}
main h1 {
    font-family: "PT Serif", serif;
    color: #7795d1;
    margin: 1rem;
}
main h2 {
    font-family: "PT Serif", serif;
    color: #d56daa;
    margin: 1rem;
}
main p {
  margin: 1rem;
  color: #444;
}
main ol {
    padding: .75rem 45px;
    background-color: #fdf2e7;
}
main dl dt {
    background-color: #ddd;
    color: #f2a863;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 20px;
}
main dl dd {
    background-color: #eee;
    color:#7795d1;
    font-size: .9rem;
    margin-left: 20px;
}
main ul {
    list-style-type: disc;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main a {
  color:#7795d1;
}
main a:hover {
  color:#d56daa
}
main address {
    font-style: normal;
    background-color: #cad5ed;
    padding: .5rem;
    border-radius: 25px;
    border: 5px double #d56daa;
    width: 200px;
    margin-left: 20px;
}
/*footer*/
footer {
    background-color: #fdf2e7;
    text-align: center;
    padding: 1rem;
    font-size: .8rem;
    color: #444;
}
footer p {
    margin: 0;
    letter-spacing: 3px;
}